<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="{{lang}}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css{{css_version}}">
    <link rel="stylesheet" type="text/css" href="/css/resume.css{{css_version}}">
    <link rel="stylesheet" type="text/css" href="/css/animate.css{{css_version}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!--[if lte IE 8]>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv="content-script-type" content="text/javascript">
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{description}}">
    <meta name="kewords" content="{{keywords}}">
    <meta name="author" content="{{title}}" />
    <meta name="robots" content="index,follow" />
    <meta name="google" content="notranslate">
    <meta name="date" content="2020-06-01" scheme="YYYY-MM-DD">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{description}}">
    <meta itemprop="image" content="{{image}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{twitter_site}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:creator" content="{{twitter_site}}">
    <meta name="twitter:image" content="{{image}}">
    <meta property="og:site_name" content="{{site_name}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="article:published_time" content="{{published_date}}" />
    <meta property="article:modified_time" content="{{date}}" />
    <title>{{title}}</title>
    <link rel="icon" sizes="32x32" href="/favicon.ico{{css_version}}">
    <script type="text/javascript" src="/js/sub/check.js{{js_version}}"></script>
</head>
<body data-css-version="{{css_version}}" data-js-version="{{js_version}}" created-at="{{created_at}}" is-loggedin="{{is_loggedin}}">
<div class="body">
    <!-- Mobile menu -->
    <div id="mobile-menu">
        <a href="/">
            <div id="mobile-menu-middle-logo">
                <img src="{{aws_s3_url}}/icons/logo.jpeg{{css_version}}">
            </div>
        </a>
        <img id="menu-btn-mobile" src="{{aws_s3_url}}/icons/menu.png{{css_version}}">
    </div>
    <!-- Mobile right menu -->
    <div id="mobile-right-menu">
        <div class="close">
            <img src="{{aws_s3_url}}/icons/close.png{{css_version}}">
        </div>
        <div class="login-item">
            {{#if is_loggedin}}
                <div class="login-item-description">
                    <span>{{nick_name}}</span>님
                    <div style="margin-top:10px;">&nbsp;<span>포인트</span>{{points}}&nbsp;<a href="/charge-points" style="text-decoration:underline;">충전하기</a></div>
                </div>
                <a href="/logout">
                    <div class="login-item-box">
                        <img src="{{aws_s3_url}}/icons/logo.jpeg{{css_version}}" alt="365알바" title="365알바">
                        <span>로그아웃</span>
                    </div>
                </a>
            {{else}}
                <div class="login-item-description">로그인 해주세요.</div>
                <a href="/login">
                    <div class="login-item-box">
                        <img src="{{aws_s3_url}}/icons/logo.jpeg{{css_version}}" alt="365알바" title="365알바">
                        <span>로그인</span>
                    </div>
                </a>
            {{/if}}
            <div class="login-item-bottom">
                <div class="forgot-password">
                    <a href="/forgot-password"><span>비밀번호 찾기</span></a>
                </div>
                <div class="register">
                    <a href="/register"><span>회원가입</span></a>
                </div>
            </div>
        </div>
        <div class="services">
            <div class="service-title">
                <span>채용정보</span>
            </div>
            {{#each menu1}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
            <div class="service-title">
                <span>인재정보</span>
            </div>
            {{#each menu2}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
            <div class="service-title">
                <span>알바플러스</span>
            </div>
            {{#each menu3}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
            <div class="service-title">
                <span>알바백과</span>
            </div>
            {{#each menu4}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
            <div class="service-title">
                <span>이벤트</span>
            </div>
            {{#each menu5}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
            {{#if is_loggedin}}
                {{#if is_user}}
                    <div class="service-title">
                        <span>개인서비스</span>
                    </div>
                    {{#each menu6}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
                {{else}}
                    <div class="service-title">
                        <span>기업서비스</span>
                    </div>
                    {{#each menu7}}<a href="{{url}}"><div class="service-item">{{name}}</div></a>{{/each}}
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="body-frame">
        <div class="body-main">
            <!-- Top logo and search feature -->
            <div id="top">
                <div id="top-most-frame" class="desktop-only">
                    <div id="top-most">
                        {{#if is_loggedin}}
                            <div class="top-most-item"><a href="/logout">로그아웃</a></div>
                            <div class="top-most-item"><a href="/member-information">회원정보</a></div>
                        {{else}}
                            <div class="top-most-item"><a href="/register">회원가입</a></div>
                            <div class="top-most-item"><a href="/login">로그인</a></div>
                        {{/if}}
                    </div>
                </div>
                <div id="top-main">
                    <div id="top-logo-wrapper">
                        <a href="/">
                            <img id="top-logo" class="animated swing" src="{{aws_s3_url}}/icons/logo.jpeg" alt="365알바" title="365알바">
                        </a>
                    </div>
                    <div id="top-search">
                        <form id="search">
                            <div id="search-middle">
                                <input id="search-input" type="text" placeholder="" value="">
                            </div>
                            <div id="search-right">
                                <input id="search-submit" type="submit" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Menu -->
            <div class="menu desktop-only">
                <ul class="menu-ul">
                    {{#if is_loggedin}}
                        {{#if is_user}}
                            <li class="menu-li menu-right-li"><a href="/my-resume">내이력서</a></li>
                        {{else}}
                            <li class="menu-li menu-right-li"><a href="/register-notice">공고등록</a></li>
                        {{/if}}
                    {{/if}}
                    <li id="menu-desktop-1" class="menu-li">
                        채용정보
                        <!-- Menu1 -->
                        <div id="menu-overlay-1" class="menu-overlay">
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">일반채용</li>
                                <a href="/alba/today"><li class="menu-overlay-item-content">오늘의알바</li></a>
                                <a href="/alba/express"><li class="menu-overlay-item-content">급구알바</li></a>
                            </ul>
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">지역별</li>
                                <a href="/alba/area"><li class="menu-overlay-item-content">지역별알바</li></a>
                            </ul>
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">직종별</li>
                                <a href="/alba/business-type"><li class="menu-overlay-item-content">업직종알바</li></a>
                                <a href="/alba/day"><li class="menu-overlay-item-content">일용직알바</li></a>
                            </ul>
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">대상별</li>
                                <a href="/alba/teenagers"><li class="menu-overlay-item-content">청소년</li></a>
                                <a href="/alba/university-students"><li class="menu-overlay-item-content">대학생</li></a>
                                <a href="/alba/middle-aged-men"><li class="menu-overlay-item-content">중장년</li></a>
                            </ul>
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">외국인</li>
                                <a href="/alba/foreigners"><li class="menu-overlay-item-content">외국인</li></a>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-desktop-2" class="menu-li">
                        인재정보
                        <!-- Menu2 -->
                        <div id="menu-overlay-2" class="menu-overlay">
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">인재정보</li>
                                <a href="/talented/area"><li class="menu-overlay-item-content">지역별인재</li></a>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-desktop-3" class="menu-li">
                        알바플러스
                        <!-- Menu3 -->
                        <div id="menu-overlay-3" class="menu-overlay">
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">알바플러스</li>
                                <a href="/albaboard"><li class="menu-overlay-item-content">알바톡톡</li></a>
                                <a href="/ceoboard"><li class="menu-overlay-item-content">사장님게시판</li></a>
                                <a href="/albareview"><li class="menu-overlay-item-content">알바후기</li></a>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-desktop-4" class="menu-li">
                        알바백과
                        <!-- Menu4 -->
                        <div id="menu-overlay-4" class="menu-overlay">
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">알바백과</li>
                                <a href="/minimum-wages"><li class="menu-overlay-item-content">최저임금</li></a>
                                <a href="/four-major-social-insurance"><li class="menu-overlay-item-content">4대사회보험</li></a>
                                <a href="/youth-labor-rights-center"><li class="menu-overlay-item-content">청소년근로권익센터</li></a>
                                <a href="/prevent-employment-fraud"><li class="menu-overlay-item-content">취업사기예방</li></a>
                                <a href="/wage-deferred-business-owners"><li class="menu-overlay-item-content">임금체불사업주</li></a>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-desktop-5" class="menu-li">
                        이벤트
                        <!-- Menu5 -->
                        <div id="menu-overlay-5" class="menu-overlay">
                            <ul class="menu-overlay-item">
                                <li class="menu-overlay-item-title">이벤트</li>
                                <a href="/events"><li class="menu-overlay-item-content">이벤트</li></a>
                            </ul>
                        </div>
                    </li>
                    {{#if is_loggedin}}
                        {{#if is_user}}
                            <li id="menu-desktop-6" class="menu-li">
                                개인서비스
                                <!-- Menu6 -->
                                <div id="menu-overlay-6" class="menu-overlay">
                                    <ul class="menu-overlay-item">
                                        <li class="menu-overlay-item-title">개인서비스</li>
                                        <a href="/my-resume"><li class="menu-overlay-item-content">내이력서</li></a>
                                        <a href="/application-status"><li class="menu-overlay-item-content">지원현황</li></a>
                                        <a href="/resume-reading-companies"><li class="menu-overlay-item-content">이력서열람기업</li></a>
                                        <a href="/scrap-alba"><li class="menu-overlay-item-content">스크랩알바</li></a>
                                        <a href="/manage-my-articles"><li class="menu-overlay-item-content">내가쓴글관리</li></a>
                                        <a href="/charge-use-details"><li class="menu-overlay-item-content">유료이용내역</li></a>
                                        <a href="/member-information"><li class="menu-overlay-item-content">회원정보</li></a>
                                    </ul>
                                </div>
                            </li>
                        {{else}}
                            <li id="menu-desktop-7" class="menu-li">
                                기업서비스
                                <!-- Menu7 -->
                                <div id="menu-overlay-7" class="menu-overlay">
                                    <ul class="menu-overlay-item">
                                        <li class="menu-overlay-item-title">기업서비스</li>
                                        <a href="/register-notice"><li class="menu-overlay-item-content">공고등록</li></a>
                                        <a href="/manage-notices"><li class="menu-overlay-item-content">공고·지원자관리</li></a>
                                        <a href="/charged-products"><li class="menu-overlay-item-content">유료상품</li></a>
                                        <a href="/scrap-alba"><li class="menu-overlay-item-content">스크랩알바</li></a>
                                        <a href="/manage-my-articles"><li class="menu-overlay-item-content">내가쓴글관리</li></a>
                                        <a href="/charge-use-details"><li class="menu-overlay-item-content">유료이용내역</li></a>
                                        <a href="/member-information"><li class="menu-overlay-item-content">회원정보</li></a>
                                    </ul>
                                </div>
                            </li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div>
            <div class="menu mobile-only">
                <ul class="menu-ul">
                    <li class="menu-li"><a href="/alba/area">지역별알바</a></li>
                    <li class="menu-li"><a href="/alba/business-type">업직종알바</a></li>
                    <li class="menu-li"><a href="/alba/today">오늘의알바</a></li>
                    <li class="menu-li"><a href="/alba/express">급구알바</a></li>
                </ul>
            </div>
            <div id="resume">
                {{#with doc}}
                    <div class="resume-scrap" data-id="{{id}}"><img src="{{scrap_url}}"></div>
                    <div class="resume-updated-at" data-updated-at="{{updated_at}}"></div>
                    <div class="resume-title">{{title}}</div>
                    <div class="resume-middle">
                        <div class="resume-left">
                            <img class="photo" src="{{photo}}">
                        </div>
                        <div class="resume-right">
                            <div class="resume-right-box">
                                <span class="resume-name">{{name}}</span>
                                <span class="resume-age">{{sex}}&nbsp;{{age}}세&nbsp;/&nbsp;{{birth_year}}년생</span>
                            </div>
                            <div class="resume-right-box">
                                <span class="resume-label">전화번호</span>
                                {{#if is_paid}}
                                    <span class="resume-content">{{phone}}</span>
                                {{else}}
                                    <span id="phone" class="resume-content" style="text-decoration:underline;cursor:pointer;">{{phone}}</span>
                                {{/if}}
                            </div>
                            <div class="resume-right-box">
                                <span class="resume-label">이메일</span>
                                <span class="resume-content">{{email}}</span>
                            </div>
                            <div class="resume-right-box">
                                <span class="resume-label">주소</span>
                                <span class="resume-content">{{address_si}}&nbsp;{{address_goo}}&nbsp;{{address_dong}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="resume-bottom">
                        <div class="resume-bottom-box">
                            <div class="resume-big-label">희망근무지</div>
                            <div class="resume-content">{{work_place_si}}&nbsp;{{work_place_goo}}&nbsp;{{work_place_dong}}</div>
                        </div>
                        {{#if is_final_education}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">최종학력</div>
                                <div class="resume-content">{{final_education}}</div>
                            </div>
                        {{/if}}
                        {{#if is_work_types}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">희망근무형태</div>
                                <div class="resume-content">{{#each work_types}}{{this}}&nbsp;{{/each}}</div>
                            </div>
                        {{/if}}
                        {{#if is_work_period}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">희망근무기간</div>
                                <div class="resume-content">{{work_period}}</div>
                            </div>
                        {{/if}}
                        {{#if is_work_days}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">희망근무요일</div>
                                <div class="resume-content">{{#each work_days}}{{this}}&nbsp;{{/each}}</div>
                            </div>
                        {{/if}}
                        {{#if is_work_start_time}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">희망근무시간</div>
                                <div class="resume-content">{{work_start_time}}&nbsp;~&nbsp;{{work_end_time}}</div>
                            </div>
                        {{/if}}
                        {{#if is_salary_type}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">희망급여</div>
                                <div class="resume-content">{{salary_type}}&nbsp;{{salary}}원</div>
                            </div>
                        {{/if}}
                        {{#if is_self_introduction}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">자기소개</div>
                                <div class="resume-content" style="white-space:pre;">{{self_introduction}}</div>
                            </div>
                        {{/if}}
                        {{#if is_careers}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">경력사항&nbsp;{{career_months}}개월</div>
                                <div class="resume-content">
                                    {{#each careers}}
                                        <div class="resume-content-box">
                                            <div>{{start_year}}년&nbsp;{{start_month}}월&nbsp;~&nbsp;{{end_year}}년&nbsp;{{end_month}}월</div>
                                            <div>{{company_name}}&nbsp;-&nbsp;{{task}}</div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                        {{#if is_language_skills}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">외국어능력</div>
                                <div class="resume-content">
                                    {{#each language_skills}}
                                        <div class="resume-content-box">
                                            <div>{{language}}&nbsp;-&nbsp;{{skill}}</div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                        {{#if is_certificates}}
                            <div class="resume-bottom-box">
                                <div class="resume-big-label">자격증</div>
                                <div class="resume-content">
                                    {{#each certificates}}
                                        <div class="resume-content-box">
                                            <div>{{year}}년&nbsp;{{month}}월</div>
                                            <div>{{name}}&nbsp;-&nbsp;{{place_of_issue}}</div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                {{/with}}
            </div>
            <!-- Footer -->
            <div id="footer">
                <!--
                <a href="/announcement">
                    <div class="footer-item">공지사항</div>
                </a>
                <a href="/policy">
                    <div class="footer-item">데이터 정책</div>
                </a>
                <a href="/terms">
                    <div class="footer-item">서비스 이용 약관</div>
                </a>-->
                <div>상호: 365알바 대표: 백병화 사업자번호: 183-11-01464</div>
                <div>주소: 경기도 용인시 기흥구 사은로 56 은성빌딩 201호</div>
                <div id="copyright">Copyright © 365alba.com. All Rights Reserved.</div>
            </div>
        </div>
    </div>
    <!-- 로그인 요청 프롬프트 -->
    <div id="request-login-prompt" class="prompt">
        <div class="prompt-left">
            <div>
                <div>
                    <div class="prompt-main">
                        로그인 해주세요.
                        <div id="btn-go-to-login-wrapper">
                            <a href="/login">
                                <div id="btn-go-to-login">로그인</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prompt-right">
            <div class="close">
                <img src="{{aws_s3_url}}/icons/close.png{{css_version}}">
            </div>
        </div>
    </div>
    <!-- 전화번호 확인하기 프롬프트 -->
    <div id="check-phone-prompt" class="prompt">
        <div class="prompt-left">
            <div>
                <div>
                    <div class="prompt-main">
                        전화번호 확인은 10포인트입니다. 진행하시겠습니까?
                        <div class="btn-wrapper">
                            <div class="btn-cancel">취소</div>
                            <div id="btn-confirm" data-id="{{id}}">확인</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prompt-right">
            <div class="close">
                <img src="{{aws_s3_url}}/icons/close.png{{css_version}}">
            </div>
        </div>
    </div>
    <div id="overlay"></div>
    <div id="overlay2"></div>
    <div id="loader"></div>
</div>
<script type="text/javascript" src="/js/sub/jquery.min.js{{js_version}}"></script>
<script type="text/javascript" src="/js/sub/global.js{{js_version}}"></script>
<script type="text/javascript" src="/js/main/resume.js{{js_version}}"></script>
<script type="text/javascript" src="/js/sub/menu.js{{js_version}}"></script>
</body>
</html>